{% extends "base.html" %}

{% block style %}
<style>
    .login {
        margin-top: 100px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row login justify-content-center">
        <div class="col-4">
            {% include "error.html" %}
            <form method="post" action="{% url 'common:password_edit' %}">
                {% csrf_token %}
                <div class="card">
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="id_old_password" class="form-label">기존 비밀번호</label>
                            <input type="password" class="form-control" name="old_password" id="id_old_password" value="">
                        </div>
                        <div class="mb-3">
                            <label for="id_new_password1" class="form-label">새 비밀번호</label>
                            <input type="password" class="form-control" name="new_password1" id="id_new_password1" value="">
                        </div>
                        <div class="mb-3">
                            <label for="id_new_password2" class="form-label">새 비밀번호 (확인)</label>
                            <input type="password" class="form-control" name="new_password2" id="id_new_password2" value="">
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'common:profile_view' %}" class="btn btn-secondary">취소</a>
                        <button type="submit" class="btn btn-primary">비밀번호 수정</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}