{% extends "base.html" %}
{% load my_filter %}

{% block style %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-3">
        {% include "message.html" %}
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <td>번호</td>
                    <td>제목</td>
                    <td>글쓴이</td>
                    <td>날짜</td>
                </tr>
            </thead>
            <tbody>
                {% if board_list %}
                    {% for board in board_list %}
                        <tr>
                            <!-- 글번호 = (전제글수) - (시작인덱스) - (현재인덱스) + 1 -->
                            <td>{{ board_list.paginator.count|sub:board_list.start_index|sub:forloop.counter0|add:1 }}</td>
                            <td><a href="{% url 'board:board_read' board.id %}">{{ board.subject }}</a></td>
                            <td>{{ board.author.username }}</td>
                            <td>{{ board.updated_date }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <td colspan="4">등록된 글이 없습니다.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>

        <div>
            <a href="{% url 'board:board_create' %}" class="btn btn-primary">등록하기</a>
        </div>

        <!-- 페이징 -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <!-- 이전 페이지 -->
                {% if board_list.has_previous %}<!-- 이전 페이지 있음 -->
                    <li class="page-item">
                        <a class="page-link" href="?page={{ board_list.previous_page_number }}">이전</a>
                    </li>
                {% else %}<!-- 이전 페이지 없음 -->
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                    </li>
                {% endif %}

                <!-- 페이지 리스트 -->
                {% for page_number in board_list.paginator.page_range %}
                    <!-- 현재 페이지를 기준으로 좌우 5개씩 보이도록 처리 -->
                    {% if page_number >= board_list.number|add:-5 and page_number <= board_list.number|add:5 %}
                        {% if page_number == board_list.number %}<!-- 현재 페이지 번호와 같음 -->
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                            </li>
                        {% else %}<!-- 현재 페이지 번호와 다름 -->
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                <!-- 다음 페이지 -->
                {% if board_list.has_next %}<!-- 다음 페이지 있음 -->
                    <li class="page-item">
                        <a class="page-link" href="?page={{ board_list.next_page_number }}">다음</a>
                    </li>
                {% else %}<!-- 다음 페이지 없음 -->
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <!--// 페이징 -->

    </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}
